{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <img src="{{ asset('build/images/calculator.svg') }}" alt="ACME logo">
</div>
{% endblock %}
